<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	

	
    <title>Kyselylomake</title>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$( function() {
		$( "#accordion" ).accordion();
	} );
	</script>	
	

<script>
/* {"id":1,
"kysymysteksti":"Millainen on tiimin työskentelyilmapiiri tällä hetkellä?",
"kysely":{"id":1,"nimi":null,"kuvaus":null},
"tyyppi":"avoin"}

*/

$(document).ready(function(){

$("#panel1").click(function(){
    $.getJSON("http://proto317.haaga-helia.fi:8080/kysely/kysymykset/kampus", function(result){ 
		$.each(result, function(i, field){
            $("panel1").append(field + " ");
        });
    });
}); 


});


</script>
	
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <div class="container">

      <div class="starter-template">
		<center><img src="helga.png"></center><br>
		Tämä on Haaga-Helian opiskelijakunta HELGAn kysely opiskelijoille koulumme asioista. Valitse mieltä askarruttava asia, ja anna siitä palautetta meille. 
		Lisää täyttötekstiä, että nään miten se sujuu täs #starter-template .divissä. Ok hyvin menee, laita hiiri linkkien päälle<br><br>
		
		<b>KAMPUS</b> Anna palautetta kampuksestasi ja sen viihtyvyydestä<br><br>
		<b>KOULUTUS</b> Tutkinto, profiiliopinnot, opettajat... you name it<br><br>
		<b>OPISKELIJAELÄMÄ</b> Oletko tietoinen kaikista opiskelija-palveluista?<br><br>
		<b>MUU PALAUTE</b> Vapaamuotoinen kirjallinen palaute! Risut, ruusut, kehut ja kaikki kehitysideat tänne<br><br>
		
		
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading1">
            <h4 class="panel-title">
                <a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel1"><i class="fa fa-minus text-primary"></i> KAMPUS</a>
            </h4>
        </div>
        <div id="panel1" class="panel-collapse collapse">
            <div class="panel-body">Contents panel 1</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading2">
            <h4 class="panel-title">
                <a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel2"><i class="fa fa-plus text-primary"></i> KOULUTUS</a>
            </h4>
        </div>
        <div id="panel2" class="panel-collapse collapse">
            <div class="panel-body">Contents panel 2</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading3">
            <h4 class="panel-title">
                <a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel3"><i class="fa fa-plus text-primary"></i> OPISKELIJAELÄMÄ</a>
            </h4>
        </div>
        <div id="panel3" class="panel-collapse collapse">
            <div class="panel-body">Contents panel 3</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading4">
            <h4 class="panel-title">
                <a class="accordion-toggle text-normalize" data-toggle="collapse" data-parent="#accordion" href="#panel4"><i class="fa fa-plus text-primary"></i> OMA PALAUTE</a>
            </h4>
        </div>
        <div id="panel4" class="panel-collapse collapse">
            <div class="panel-body">Contents panel 3</div>
        </div>
    </div>
    
</div>
		
		
		
		
		
		
		
		
		


		<br><br><center>
		<b>HELGAn somet</b><br><br>
		<a class="norm" href="">Facebook</a> <a class="norm" href="">Instagram</a> <a class="norm" href="">Twitter</a> <a class="norm" href="">Nettisivut</a> Snapchat: @helga_hki<br><br><br></center><br>
		
      </div>

    </div><!-- /.container -->


	
	
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </body>
</html>
